@use "./variables" as *;
footer {
  background-color: $secondary;
  padding: 2px;
  opacity: 0.8;
  color: #fff;

  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    a {
      color: #fff;
      text-decoration: underline;
    }
  }
}

@media (max-width: 768px) {
  footer {
    margin-bottom: 53px;
  }
}
@media (max-width: 480px) {
  footer {
    .wrapper {
      flex-direction: column;
    }
    padding: 20px;
  }
}
