@use "./variables" as *;
@use "global";

header {
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative;
}
nav {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 8px 0px;
  background-color: #fff;
  position: fixed;
  z-index: 99999;
  width: 100%;
  flex-grow: 0;
}
nav .wrapper {
  display: flex;
  justify-content: space-between;
}
.logo {
  flex: 2 1 auto;
  h1 {
    font-family: $secondary-font-stack;
    font-size: 36px;
    span {
      color: $primary;
    }
  }
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1 1 auto;
  text-transform: uppercase;
  .nav-items {
    &:hover {
      transform: scale(1.3);
      transition: 0.3s;
    }
  }
  a {
    color: #000;
    font-weight: bold;
    &:hover {
      color: $primary;
    }
  }
}

.nav-bottom {
  display: flex;
  background-color: #ecf0f1;
  box-shadow: 4px 16px 16px 10px rgba(0, 0, 0, 0.5);
  margin-top: 100px;
  padding: 10px 0px;
  justify-content: space-evenly;
  position: fixed;
  bottom: 0;
  z-index: 999999;
  width: 100%;
  display: none;
  .nav-items {
    position: relative;
    display: inline-block;
    &:hover {
      transform: scale(1.3);
      transition: 0.3s;
    }
  }
  img {
    text-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.19);
    color: #fff;
    width: 30px;
    height: 30px;
  }
}

.header-banner {
  background-color: $secondary;
  flex-grow: 5;
  color: #fff;
  position: relative;
}
.fog-wrapper {
  position: absolute;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 1;

  .fog-image {
    position: absolute;
    height: 100vh;
    width: 300vw;
    z-index: 2;
  }
  .fog-image-1 {
    background: url("../assets/fog-1.png");
    background-repeat: repeat-x;
    background-size: cover;
    background-position: center;
    animation: marquee 20s linear infinite;
  }

  .fog-image-2 {
    background: url("../assets/fog-2.png");
    background-repeat: repeat-x;
    background-size: cover;
    background-position: center;
    animation: marquee 20s linear infinite;
  }
}
@keyframes marquee {
  0% {
    transform: translate3D(0, 0, 0);
  }
  100% {
    transform: translate3D(-200vw, 0, 0);
  }
}
.header-banner .wrapper {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  line-height: 1.5;
  .logo {
    display: none;
  }
  span {
    color: $primary;
  }
  img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }
  h2 {
    font-size: 32px;
  }
  p {
    width: 60%;
    text-align: center;
  }
  .download-cv {
    background-color: $primary;
    padding: 10px 15px;
    color: #fff;
    border: none;
    border-color: $primary;
    cursor: pointer;
    z-index: 999999999999999;
  }
}

// ************************* MEDIA QUERIES *****************************
@media (max-width: 768px) {
  nav {
    display: none;
  }
  .nav-bottom {
    display: flex;
  }
  .header-content {
    padding-bottom: 50px;
    margin-top: 0px;
    line-height: 1;
    .logo {
      display: block;
      margin-bottom: 30px;
      h1 {
        font-size: 64px;
      }
    }
    p {
      width: 70%;
    }
  }
}

@media (max-width: 480px) {
  .header-banner .wrapper {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: flex-start;
  }

  .header-content {
    margin-top: 60px;
    line-height: 1.2;
    .logo {
      display: block;
      margin-bottom: 30px;
      h1 {
        font-size: 56px;
      }
    }
    img {
      margin-bottom: 20px;
    }
    h2 {
      font-size: 24px;
    }
    p {
      width: 100%;
    }
  }
}
