html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  overflow-x: hidden;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

h1,
h2 {
  margin: 0px;
}

img {
  max-width: 100%;
}

.wrapper {
  max-width: 1080px;
  width: 90%;
  margin: 0 auto;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  background: url(./../../../assets/heroImage.jpg);
  background-position: center;
  background-repeat: no-repeat;
}

nav {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 8px 0px;
  background-color: #fff;
  position: fixed;
  z-index: 99999;
  width: 100%;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

nav .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo {
  -webkit-box-flex: 3;
      -ms-flex: 3 1 auto;
          flex: 3 1 auto;
}
.logo h1 {
  font-family: "Great Vibes", cursive;
  font-size: 36px;
}
.logo h1 span {
  color: #e74c3c;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 5;
      -ms-flex: 5 1 auto;
          flex: 5 1 auto;
  text-transform: uppercase;
}
.nav .nav-items:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.nav a {
  color: #000;
  font-weight: bold;
}
.nav a:hover {
  color: #e74c3c;
}

.social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin-top: 5px;
}
.social-icons li {
  font-size: 32px;
  margin-left: 5px;
}

.nav-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
  margin-top: 100px;
  padding: 10px 0px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  position: fixed;
  bottom: 0;
  z-index: 9999;
  width: 100%;
  display: none;
}
.nav-bottom .nav-items {
  position: relative;
  display: inline-block;
}
.nav-bottom .nav-items:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.nav-bottom .nav-items .tool-tip-text {
  visibility: hidden;
  width: 120px;
  text-transform: capitalize;
  font-family: "Great Vibes", cursive;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
}
.nav-bottom .nav-items:hover .tool-tip-text {
  visibility: visible;
}
.nav-bottom img {
  width: 30px;
  height: 30px;
}

.header-banner {
  background-color: #000;
  opacity: 0.9;
  -webkit-box-flex: 5;
      -ms-flex-positive: 5;
          flex-grow: 5;
  color: #fff;
}

.header-banner .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0.9;
  margin-top: 50px;
  line-height: 1.5;
}
.header-content .logo {
  display: none;
}
.header-content span {
  color: #e74c3c;
}
.header-content img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.header-content h2 {
  font-size: 32px;
}
.header-content p {
  width: 60%;
  text-align: center;
}
.header-content .download-cv {
  background-color: #e74c3c;
  padding: 10px 15px;
  color: #fff;
  border: none;
  border-color: #e74c3c;
  cursor: pointer;
}

@media (max-width: 768px) {
  nav {
    display: none;
  }
  .nav-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header-content {
    padding-bottom: 50px;
    margin-top: 0px;
    line-height: 1;
  }
  .header-content .logo {
    display: block;
    margin-bottom: 30px;
  }
  .header-content .logo h1 {
    font-size: 64px;
  }
  .header-content p {
    width: 70%;
  }
}
@media (max-width: 480px) {
  .header-banner .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .header-content {
    margin-top: 60px;
    line-height: 1.2;
  }
  .header-content .logo {
    display: block;
    margin-bottom: 30px;
  }
  .header-content .logo h1 {
    font-size: 56px;
  }
  .header-content img {
    margin-bottom: 20px;
  }
  .header-content h2 {
    font-size: 24px;
  }
  .header-content p {
    width: 100%;
  }
}
.about-me {
  margin-top: 50px;
}

.about-me .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.profile-photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 45%;
          flex: 1 0 45%;
  padding: 20px;
}
.profile-photo img {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  width: 90%;
}

.profile-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 55%;
          flex: 1 0 55%;
  padding: 20px;
}
.profile-info h2 {
  color: #e74c3c;
}
.profile-info h3 span {
  color: #e74c3c;
}
.profile-info .e-signature {
  font-family: "Great Vibes", cursive;
}
.profile-info button {
  background-color: #e74c3c;
  color: #fff;
  border-radius: none;
  border-color: #e74c3c;
  padding: 8px;
  margin-top: 20px;
  width: 25%;
}

.portfolio-container {
  margin-top: 50px;
}

.portfolio-container > .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.portfolio-container > .wrapper .portfolio-heading {
  text-align: center;
  font-size: 48px;
}

.portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 50px 0;
}

.portfolio-demo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
}

.portfolio-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  padding: 20px;
}
.portfolio-info .portfolio-title {
  font-size: 32px;
}
.portfolio-info .tech-stack {
  background-color: #f6f6f6;
  padding: 10px;
}

.portfolio-even {
  margin-left: 30px;
}

.portfolio-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.portfolio-links button {
  color: #fff;
  background: #e74c3c;
  padding: 8px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  width: 30%;
}
.portfolio-links a {
  color: #e74c3c;
  font-size: 20px;
  margin-left: 10px;
  text-decoration: underline;
}

.skills-container {
  margin-top: 50px;
  background-color: #f6f6f6;
}

.skills-container .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 70px 30px;
}
.skills-container .wrapper h2 {
  font-size: 48px;
  text-align: center;
}

.skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 70px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.skills .skill {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 15px;
  text-align: center;
  text-transform: uppercase;
}
.skills .skill img {
  width: 100px;
  height: 100px;
}
.skills .skill img:hover {
  color: #e74c3c;
}
.skills .skill span {
  margin-top: 10px;
}
.skills .skill:hover {
  color: #e74c3c;
}

.contact-container {
  margin-top: 50px;
}

.contact-container .wrapper .contact-heading {
  font-size: 48px;
  text-align: center;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding: 50px;
  line-height: 1.2;
  font-size: 18px;
}
.contact-info h2 {
  font-size: 48px;
  font-family: "Great Vibes", cursive;
}
.contact-info h2 span {
  color: #e74c3c;
}
.contact-info .bio {
  width: 80%;
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.info img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.contact-form {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

form {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 30px;
  margin-top: 20px;
}
form button {
  background-color: #e74c3c;
  color: #fff;
  padding: 8px;
  border: none;
  margin-left: 10px;
}

.form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px;
}
.form-group input,
.form-group textarea {
  border-radius: 5px;
  border: solid 1.5px #d3d3d3;
  padding: 5px;
  margin-top: 5px;
}
.form-group input:focus,
.form-group textarea:focus {
  outline: none;
}

@media (max-width: 992px) {
  .profile-photo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-item-align: center;
        align-self: center;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 100%;
            flex: 1 0 100%;
  }
  .profile-photo img {
    width: 50%;
  }
  .profile-info {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 100%;
            flex: 1 0 100%;
  }
  .profile-info p {
    text-align: justify;
    width: 70%;
  }
  .portfolio {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .portfolio-demo {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .portfolio-info {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .portfolio-info p {
    width: 80%;
  }
  .portfolio-info .portfolio-links button {
    width: 100px;
  }
}
@media (max-width: 768px) {
  .profile-photo img {
    width: 60%;
  }
  .profile-info p {
    width: 100%;
  }
  .profile-info button {
    width: 40%;
    font-size: 16px;
  }
  .contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact-info {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contact-info .bio {
    text-align: center;
    width: 90%;
  }
  .contact-form {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}
@media (max-width: 480px) {
  .profile-photo img {
    width: 90%;
  }
  .profile-info h2 {
    width: 100%;
  }
  .profile-info button {
    width: 40%;
    font-size: 12px;
  }
  .contact-container {
    margin-top: 30px;
  }
  .contact-info {
    margin-top: 10px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    font-size: 16px;
    padding: 25px;
  }
  .contact-info h2 {
    font-size: 36px;
  }
  .contact-info .bio {
    width: 100%;
    text-align: justify;
  }
  .contact-info img {
    width: 25px;
    height: 25px;
  }
  form {
    margin-top: 0;
  }
}
footer {
  background-color: #f6f6f6;
  padding: 2px;
}
footer h4 {
  text-align: center;
}